@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #00100f;
}

::-webkit-scrollbar-thumb {
  background-color: #1fc17d;
  border-radius: 4px;
}

@layer base {
  html,
  body {
    @apply h-full font-poppins bg-olive scroll-smooth;
  }
}

@layer components {
  .highlights {
    @apply text-default hover:text-neon transition-colors duration-500 ease-in-out font-medium;
  }
}
